{% extends 'base.html.twig' %}

{% block body %}

    <div class="card form-row">
        <div class="card-body ">
            <h3 class="card-subtitle mb-2 text-muted">Ajout d'adresses</h3>
            {{ include('address/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
